Package: mill
Version: 0.1.3
Replaces: mill
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Markus Haldorsen <markus@futurehome.no>
Description: Mill-wifi adapter for futurehome system
